.services-container{
    background: linear-gradient(135deg, #101010,#101010 ,  black);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
}

.services-title{
    margin: 0;
    margin-bottom: 25px;
}


.services-title h1{
    margin-bottom: -30px;
    color: rgb(204, 195, 226);
    font-size: 40px; 
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 5px; 
}
.services-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row; /* Ensure it's set to flex-row */
  }
  
