.services-container{
    /* background: linear-gradient(135deg, #101010,#101010 ,  black); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 100%;
    margin-bottom: 55px;
}

.services-title{
    margin: 0;
    text-align: center;
    width: 30%;
    border-bottom: 1px solid grey;
}


.services-title h1{
    margin-bottom: 10px;
    color: rgb(204, 195, 226);
    font-size: 40px; 
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 5px; 
}
.services-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row; /* Ensure it's set to flex-row */
  }
  


