.footer-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 10px;
}

.footer-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-title {
    color: rgb(204, 195, 226);
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 5px;
}

.footer-box1,
.footer-box3 {
    flex: 1; /* Take equal space */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box1 h1,
.footer-box3 h1 {
    color: rgb(204, 195, 226);
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 5px;
    margin: 0; 
}

.footer-box2 {
    width: 2px;
    height: 20px; /* Adjust height to match the height of content in .footer-box1 and .footer-box3 */
    background-color: rgb(204, 195, 226); /* Add background color for visibility */
    margin: 0;
}
