.footer-container {
    padding: 0px;
    margin: 0px;
    height: 20px;
    background-color: black;
    padding: 10px 0px;
}


.footer-container h1{
    text-align: center;
    color: rgb(204, 195, 226);
    font-size:12px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0px 0px;
    padding: 0px 0px;
}
