.serviceCard-container {
    width: 275px; 
    height: 300px;
    background: linear-gradient(135deg, #2e2d2d,#161616 ,  black); 
    border-radius: 8px;
    padding: 30px; 
    margin: 35px 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  /* Style for card title */
.card-title h1 {
    text-align: center;
    margin: 0;
    font-size: 20px; /* Adjust title font size */
    color: white; /* Title color */
    font-size: 40px; 
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 5px; 
}
  
  /* Style for card content */
.card-content p {
    margin: 30px 0;
    font-size: 12px; /* Adjust content font size */
    color: white; /* Content color */
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 3px;
    text-align: justify;
} 

